.banner {
  background-image: url("https://source.unsplash.com/hOuJYX2K5DA");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}
.banner h1 {
  color: white;
  font-weight: bold;
}
.banner p {
  color: white;
  font-size: 20px;
}
